<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<script src='home/index.js'></script>
	</head>
	<body>
		<div>
			<div>
				<form>
					<div class='field'>
						<div class='label'>Country:</div>
						<div class='input'>
							<select id='countrySelect'>
								<option value=''></option>
							</select>
						</div>
					</div>
					<div class='field'>
						<div class='label'>City:</div>
						<div class='input'>
							<select id='citySelect'>
								<option value=''></option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div>
				<div class='field'>
					<div class='label'>Location:</div>
					<div class='value' id='weatherLocation'></div>
				</div>
				<div class='field'>
					<div class='label'>Time:</div>
					<div class='value' id='weatherTime'></div>
				</div>
				<div class='field'>
                    <div class='label'>Dew Point:</div>
					<div class='value' id='weatherDewPoint'></div>
				</div>
				<div class='field'>
					<div class='label'>Wind:</div>
					<div class='value' id='weatherWind'></div>
				</div>
				<div class='field'>
                    <div class='label'>Pressure:</div>
					<div class='value' id='weatherPressure'></div>
				</div>
				<div class='field'>
                    <div class='label'>Relative Humidity:</div>
					<div class='value' id='weatherRelativeHumidity'></div>
				</div>
				<div class='field'>
                    <div class='label'>Sky Conditions:</div>
					<div class='value' id='weatherSkyConditions'></div>
				</div>
				<div class='field'>
                    <div class='label'>Temperature:</div>
					<div class='value' id='weatherTemperature'></div>
				</div>
				<div class='field'>
                    <div class='label'>Visibility:</div>
					<div class='value' id='weatherVisibility'></div>
				</div>
			</div>
		</div>
	</body>
</html>
